<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hectorjavier.elementosgui">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".tabhost.MiTabHost" />
        <activity android:name=".tabhost.MiTabHost2" />
        <activity android:name=".tabhost.MiTab1" />
        <activity android:name=".listview.MiListView" />
        <activity android:name=".radiogroup.MiRadioGroup" />
        <activity android:name=".listview.MiListView2" />
        <activity android:name=".radiogroup.MiRadioGroup2" />
        <activity android:name=".gridview.MiGridView" />
        <activity android:name=".expandablelistview.MiExpandableListView" />
        <activity android:name=".searchview.MiSearchView" />
        <activity android:name=".progresbar.MiProgressBar"></activity>
    </application>

</manifest>
